/* 
    General Styles
*/
body{
    background-image: url(https://logos-download.com/wp-content/uploads/2016/09/Star_Wars_logo-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.97;
}